button img{
    width: 100px;
    height: 120px;
    padding-top: 5px;
}

button{
    width: 160px;
    margin: 20px;
    font-size: medium;
}


.activePlay{
    height: 300px;
    padding-top: 20px;
    padding-bottom: 2px;
}

/* .active{
    border: 2px solid gray;
} */

body{
    background-image: url("../images/wallpaper.png");
    color: black; 
    font-size: x-large;
}

.container{
    background-color: #ffffff74;
    border: 1px solid #dddddd;
    /* max-width: 920px; */
    margin: 0px auto;
    margin-top: 80px;
    /* padding: 19px; */
}
#enemy{
    border-top: 2px solid #ffffff;

}